html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Roboto";
  background-color: #efefef;
}

.MuiButton-root.MuiButton-contained {
  border-radius: 8px;
  box-shadow: none;
  font-weight: unset;
  text-transform: capitalize;
}
